{{ partial "header.html" . }}

<div class="content">
    <div class="article-meta">
        <h1><span class="title">{{ .Title | markdownify }}</span></h1>
        <p>Activity Date: {{ with .Params.date }}<time>{{ time.Format "2 Jan 2006" . }}</time>{{ end }}<br/>
    {{ with .GitInfo }}Updated: <time>{{ .AuthorDate.Format "2 Jan 2006" }}</time>{{ end }}</p>
    </div>

    {{ if ne .Params.statsTable false }}
    {{ partial "statsTable.html" . }}
    {{ end }}

    {{ .Content }}
</div>

<script>
    var GPXFiles = [{{ range sort (.Resources.Match "*.gpx") }}"{{ .Permalink }}",{{ end }}],
        GPXDataFiles = [{{ range sort (.Resources.Match "*.gpx") }}{{ index $.Site.Data.gpx (index (split .Title ".") 0) }},{{ end }}];
</script>

<link rel="stylesheet" href="/css/leaflet.min.css"/>
 <script src="/js/leaflet.min.js"></script>
<script src="/js/Polyline.encoded.js" async></script> 
<script src="/js/multiHike.js" async></script>
<script src='/js/Leaflet.fullscreen.min.js' async></script>

{{ partial "footer.html" . }}
