{{ partial "header.html" . }}

<div class="content">
    <h1>
        {{ .Title | markdownify }}<br/>
        <span class="light">by {{ .Params.author }}</span>
    </h1>
    <div class="book-flex">
        <div>
            <p>
                <strong>Read:</strong> {{ .Params.started | time.Format "Jan 2" }}{{ with .Params.finished }}-{{ . | time.Format "2, 2006" }}{{ end }}<br/>
                <strong>Genre:</strong> {{ .Params.genre }}
            </p>
            {{ .Content }}
        </div>
        {{ with .Params.cover }}
        <img src="{{ . }}" loading='lazy'/>
        {{ end }}
    </div>
    <section id="isso-thread" data-title="{{ .Title }}" data-isso-id="{{ .Slug }}"></section>
</div>

<script 
    data-isso-avatar=false
    data-isso-vote=false
    data-isso-id="{{ .Slug }}"
    src="https://isso.lesueur.nz/js/embed.min.js"></script>

{{ partial "footer.html" . }}
