{{ partial "header.html" . }}

<div class="content">
    <h1>
        {{ .Title | markdownify }}<br/>
        <span class="light">by {{ .Params.author }}</span>
    </h1>
    <div class="book-flex">
        <div>
            <p>
                <strong>Read:</strong> {{ .Params.started | time.Format "Jan 2" }}{{ with .Params.finished }}-{{ . | time.Format "2, 2006" }}{{ end }}<br/>
                <strong>Genre:</strong> {{ .Params.genre }}
            </p>
            {{ .Content }}
        </div>
        {{ with .Params.cover }}
        <img src="{{ . }}" loading='lazy'/>
        {{ end }}
    </div>

    {{ if .Params.series }}
        <div class="series">
        {{ $name := index .Params.series 0 }}
        <p><strong>{{$name}} Series</strong></p>
        {{ $name := $name | urlize }}
        {{ $page := . }}
        {{ $series := index .Site.Taxonomies.series $name }}
        <ul>
        {{ range sort $series.Pages ".Params.date" "asc" }}
            {{ if eq .Title $page.Title }}
                <li>{{.Date.Format "Jan 02, 2006"}} - {{.LinkTitle}}</li>
            {{ else }}
                <li>{{.Date.Format "Jan 02, 2006"}} - <a href="{{.Permalink}}">{{.LinkTitle}}</a></li>
            {{ end }}
        {{end}}
        </ul>
        </div>
    {{end}}

    <button class="load-comments" data-title="{{ .Title }}" data-isso-id="{{ .Slug }}" onclick="loadComments();">Load Comments</button>
</div>
{{ partial "isso-script.html" . }}

{{ partial "footer.html" . }}
