{{ partial "header.html" . }}

<div class="content">
    <h1>
        {{ .Title | markdownify }}<br/>
        <span class="light">by {{ .Params.author }}</span>
    </h1>
    <div class="book-flex">
        <div>
            <p>
                <strong>Read:</strong> {{ .Params.started | time.Format "Jan 2" }}{{ with .Params.finished }}-{{ . | time.Format "2, 2006" }}{{ end }}<br/>
                <strong>Genre:</strong> {{ .Params.genre }}
            </p>
            {{ .Content }}
        </div>
        {{ with .Params.cover }}
        <img src="{{ . }}" loading='lazy'/>
        {{ end }}
    </div>


    <button class="load-comments" data-title="{{ .Title }}" data-isso-id="{{ .Slug }}" onclick="loadComments();">Load Comments</button>
</div>
{{ partial "isso-script.html" . }}

{{ partial "footer.html" . }}
