{{ partial "header.html" . }}

<div class="content">
    <h1>{{ .Title }}</h1>
    <time>{{ .Params.photoDate.Format "January 2, 2006" }}</time>
        {{ $img := index (.Resources.ByType "image") 0 }}
        {{ $img512 := $img.Resize "512x webp" }}
        {{ $img1024 := $img.Resize "1024x webp" }}
        {{ $img2048 := $img.Resize "2048x webp" }}
        <figure>
            <a href='{{ $img.Permalink }}' title='Full size image: {{ .Title }}'>
                <img 
                    srcset='
                        {{ $img512.Permalink }} {{ $img512.Width }}w,
                        {{ $img1024.Permalink }} {{ $img1024.Width }}w,
                        {{ $img2048.Permalink }} {{ $img2048.Width }}w'
                    sizes="(min-width: 780px) 584px, calc(100vw - 16px)"
                    height="{{ $img.Height }}"
                    width="{{ $img.Width }}"
                    src='{{ $img.Permalink }}'
                    alt='{{ .Title }}'
                    loading="lazy"/>
            </a>
            <figcaption>
                <ul class="exif">
                    <li>🙋‍♂️<span>{{ .Params.photographer }}</span></li>
                    {{ with $img.Exif }}
                    <li>{{ with .Tags.Model }}📷<span>{{ . }}</span>{{ end }}</li>
                    <li>🎞
                        {{ with .Tags.ExposureTime }}<span>{{ . }}s</span>{{ end }}
                        {{ with .Tags.FNumber }}<span>f/{{ . }}</span>{{ end }}
                        {{ with .Tags.FocalLength }}<span>{{ . }}mm</span>{{ end }}
                        {{ with .Tags.ISOSpeedRatings }}<span>ISO {{ . }}</span>{{ end }}
                        <span>{{ .Date | time.Format ":time_short" }}</span>
                    </li>
                    <li>
                        🌏  <a title="Photo location on TopoMap"
                            href="http://www.topomap.co.nz/NZTopoMap?v=2&ll={{ .Lat }},{{ .Long }}&z=14&pin=1&lbl={{ .Lat }},{{ .Long }}"
                            target="_blank">
                            <span>{{ printf "%.5f" .Lat }}, {{ printf "%.5f" .Long }}</span>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </figcaption>
        </figure>
    {{ .Content }}  

    <div class="nav-buttons">
        {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">⬅️ Previous Photo</a>
        {{ end }}
        {{ with .NextInSection }}
        <a href="{{ .Permalink }}" title="{{ .Title }}">Next Photo ➡️</a>
        {{ end }}
    </div>
</div>

{{ partial "footer.html" . }}
