<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>finnlesueur</string>
    <key>Label</key>
    <string>com.finnlesueur.blog</string>
    <key>ProgramArguments</key>
    <array>
      <string>bash</string>
      <string>/Users/finnlesueur/Git/finn.lesueur.nz/watch.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>WorkingDirectory</key>
    <string>/Users/finnlesueur/Git/finn.lesueur.nz</string>
    <key>StandardErrorPath</key>
    <string>/Users/finnlesueur/Git/finn.lesueur.nz/error_log</string>
    <key>StandardOutPath</key>
    <string>/Users/finnlesueur/Git/finn.lesueur.nz/stdout_log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/bin:/usr/bin:/usr/local/bin:/Library/TeX/texbin</string>
    </dict>
  </dict>
</plist>