{{ $page := .Page }}

<figure>
    <a class="glightbox" data-gallery='1' data-glightbox="description: {{ .Get "title" | markdownify }}<br/><br/>📷 {{ if .Get "author" }}{{ .Get "author" | markdownify }}{{ else }}Finn Le Sueur{{ end }}" href='https://imgproxy.lesueur.nz/insecure/resize:fill:3096:0:0:0/plain/local:///blog/{{ .Page.Slug }}/{{ .Get "name" }}' title='{{ .Get "title" }}'>
        <img
        	srcset='https://imgproxy.lesueur.nz/insecure/resize:fill:512:0:0:0/cb:2/plain/local:///blog/{{ .Page.Slug }}/{{ .Get "name" }} 512w,
                https://imgproxy.lesueur.nz/insecure/resize:fill:1024:0:0:0/cb:2/plain/local:///blog/{{ .Page.Slug }}/{{ .Get "name" }} 1024w,
                https://imgproxy.lesueur.nz/insecure/resize:fill:2048:0:0:0/cb:2/plain/local:///blog/{{ .Page.Slug }}/{{ .Get "name" }} 2048w'
            sizes='(min-width: 780px) 584px, calc(100vw - 16px)'
            src='https://imgproxy.lesueur.nz/insecure/resize:fill:3096:0:0:0/cb:2/plain/local:///blog/{{ .Page.Slug }}/{{ .Get "name" }}'
            alt='{{ .Get "title" }}'
            loading='lazy'
            {{ with .Get "height" }}height='{{ . }}'{{ end }}
            {{ with .Get "width" }}width='{{ . }}'{{ end }}
            />
    </a>
    <figcaption>{{ .Get "title" | markdownify }}<br/>📷: {{ if .Get "author" }}{{ .Get "author" | markdownify }}{{ else }}Finn Le Sueur{{ end }}</figcaption>
</figure>
