{{ $src := (index (.Page.Resources.Match (.Get "src")) 0).Permalink }}
<figure>
    <a href='{{ $src }}' title='Full size image: {{ .Get "title" }}'>
        <img 
            srcset='
                {{ $.Site.Params.imageHostingURL }}/full?u={{ $src }} 4096w,
                {{ $.Site.Params.imageHostingURL }}/2048?u={{ $src }} 2048w,
                {{ $.Site.Params.imageHostingURL }}/1024?u={{ $src }} 1024w,
                {{ $.Site.Params.imageHostingURL }}/512?u={{ $src }} 512w,'
            src='{{ $src }}'
            alt='{{ .Get "title" }}'
            loading="lazy"/>
    </a>
    <figcaption>(📷: {{ .Get "author" }}) {{ .Get "title" }}</figcaption>
</figure>