{{ partial "header.html" . }}

<div class="content">
    {{ range first 1 (where .Site.RegularPages "Section" "photos") }}
        <h1>
            <a href="{{ .Permalink | relURL }}" title="{{ .Title }}">
                {{ .Title }}
            </a>
        </h1>
        <time>{{ time.Format "January 2, 2006 at 9:00am" .Params.photoDate }}</time>
            {{ partial "photos-figure.html" . }}
        {{ .Content }}
    {{ end }}

    <blockquote><p>Subscribe to my photography RSS feed by clicking here: <a href="/photos/index.xml">{{ .Permalink }}index.xml</a>.</p></blockquote>

    <h2>Archive</h2>
    <ul class="archive">
        {{ range .Data.Pages.GroupByParamDate "date" "January 2006" }}
            {{ .Key }}
            {{ range .Pages }}
            <ul>
                <li class="photo">
                    <a href="{{.Permalink}}">{{.Title}} <time>{{ dateFormat "02 Jan, 2006" .Params.photoDate }}</time></a>
                </li>
            </ul>
            {{ end }}
        {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}
