body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(51, 51, 51);
  line-height: 1.75;
  max-width: 800px;
  margin: auto;
  padding: 0 1em;
}

h1 {
  margin: 0.5rem auto;
}

h2 {
  margin-bottom: 0;
}

a {
  color: #3498db;
}

a:visited {
  color: #2980b9;
}

.menu {
  margin-top: 1rem;
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  background: #ecf0f1;
}

.article-meta,
.menu a {
  text-decoration: none;
  padding: 0.25rem;
  margin: 0 0.25rem;
  border-radius: 0.25rem;
}
.menu,
.article-meta {
  text-align: center;
}

.title {
  font-size: 1.1em;
}

hr {
  border-style: solid;
  color: #bdc3c7;
  margin: 0.5rem auto;
}

ol, ul {
  padding-left: 1rem;
  margin-top: 0;
}

ol > li {
  margin-bottom: 0.5rem;
}
