html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(51, 51, 51);
  line-height: 1.75;
  max-width: 1024px;
  margin: auto;
  padding: 0.5em;
  display: block;
  grid-template-columns: minmax(auto, 250px) 1fr;
  grid-template-areas:
    "map map"
    "nav content"
    "footer footer";
  transition: all 300ms;
}

main img {
  border-radius: 0.25rem;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body.gps {
  padding-top: 0;
}

p {
  font-size: 1.1rem;
}

nav {
  grid-area: nav;

}

main {
  padding-left: 4rem;
  grid-area: content;
  overflow: hidden;
}

footer {
  margin-top: 1rem;
  grid-area: footer;
}

main > ul,
nav > ul {
  list-style: none;
  padding-left: 0;
}

blockquote {
  border-left: 3px solid #bdc3c7;
  padding-left: 1rem;
  margin-left: 1rem;
}

.divided > li:not(:last-child) {
  border-bottom: 1px solid #bdc3c7;
  padding-bottom: 1rem;
}

footer {
  flex-grow: 1;
}

input[type=checkbox].toggle,
.hamburger {
    position: absolute;
    right: 1.5rem;
    top: calc(( 4rem - 28px + 8px) / 2);
    margin: 0;
    width: 28px;
    height: 28px;
}

.hamburger {
    z-index: 99999;
}

.hamburger span {
    height: 4px;
    border-radius: 2px;
    background-color: rgb(51, 51, 51);
    margin-bottom: 5px;
    display: block;
    transition: all 500ms;
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.toggle {
    z-index: 9999999;
    opacity: 0;
}

.toggle:hover {
    cursor: pointer;
}

.toggle ~ .nav-wrapper {
    transform: translateX(150%);
}

.toggle:checked ~ .nav-wrapper {
    transform: translateX(0);
}

.toggle:checked ~ .hamburger span {
    transition: all 300ms;
}

.toggle:checked ~ .hamburger span:nth-child(1) {
    transform: translateY(9px) rotateZ(45deg);
}

.toggle:checked ~ .hamburger span:nth-child(2) {
    transform: translateX(50%);
    opacity: 0;
}

.toggle:checked ~ .hamburger span:nth-child(3) {
    transform: translateY(-9px) rotateZ(-45deg)
}

.nav-wrapper {
  width: 100vw;
  position: absolute;
  left: 0;
  height: calc(100vh - 4rem);
  top: 3.7rem;
  transition: all 300ms;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
  text-align: left;
  background-color: white;
  z-index: 999999;
}

.nav-wrapper ul {
  list-style: none;
}

h1 {
  margin: 1rem auto -0.75rem 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

a {
  color: #3498db;
  text-decoration: none;
  border-bottom: 0;
}

a.home {
  color: rgb(51, 51, 51);
}

/*a:visited {
  color: #3498db;
}*/

/*main a {
  background-color: rgba(52, 152, 219, 0.1);
}*/

.menu {
  padding: 0;
}

.menu .active a {
  border-bottom: 1px solid #3498db;
}

hr {
  border: none;
  height: 1px;
  background-color: #bdc3c7;
  margin: 0 auto;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

time {
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #7f8c8d;
}

pre {
  background: #4CA1AF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-135deg, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-135deg, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0.25rem;
  border-radius: 0.25rem;
  overflow: scroll;
  color: white;
}

code {
  margin: 0.25rem 0;
}

ul li p:first-of-type,
h2 + p,
h3 + p,
.sub + p {
  margin-top: 0.75rem;
}

.sub {
  color: gray;
  margin: -0.5rem 0;
  font-size: 0.9rem;
}

.emoji {
  font-size: 1.75rem;
}

#hikeMap {
  height: 50vh;
  grid-area: map;
  width: 100vw;
  left: calc((100vw - 100%)/-2);
}

.chart-container {
  margin-top: 1rem;
}

.hike-stats p {
  font-size: 0.8rem;
}

table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    /*border-left: 1px solid #cbcbcb;/*  inner column border */*/
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
}
table td {
    background-color: #f2f2f2;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
table td {
    border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
    border-bottom-width: 0;
}

.archive {
  padding-left: 0;
}

.archive ul {
  list-style: none;
}

li.sport::before, li.development::before, li.hiking::before {
  margin-right: 0.5rem;
}

li.sport::before {
  content: "🏃‍♂️";
}
li.development::before {
  content: "💻";
}

li.hiking::before {
  content: "🏔";
}

@media (min-width: 768px) {
  html, body {
    overflow-x: visible;
  }
  body {
    display: grid;
  }
  /*#hikeMap {
    left: calc((100vw - 100%)/-2);
  }*/
  .toggle ~ .nav-wrapper {
    transform: none;
  }

  .nav-wrapper {
    position: relative;
    transform: translateX(0);
    height: auto;
    top: 0;
    width: auto;
    padding: 0;
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "nav"
      "map"
      "content"
      "footer";
      grid-template-columns: 1fr;
  }

  main {
    padding-left: 0;
  }

  nav {
    border-bottom: 1px solid #bdc3c7;
  }
  nav h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3d3d3d;
    color: white;
  }
  a {
    color: #4bcffa;
  }
  a.home {
    color: white;
  }
  time {
    color: #d2dae2;
  }
  pre {
    background-color: #f5f6fa;
    /*color: black;*/
  }
  table thead {
    background-color: transparent;
  }
  table td {
      background-color: transparent;
  }
  table tr:nth-child(2n-1) td {
      background-color: transparent;
  }
  .nav-wrapper {
    background-color: #3d3d3d;
  }

  .hamburger span {
    background-color: white;
  }
}