body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: rgb(51, 51, 51);
  line-height: 1.75;
  max-width: 1024px;
  margin: auto;
  padding: 0.5em;
  display: grid;
  grid-template-columns: minmax(auto, 250px) 1fr;
  grid-template-areas:
    "nav content"
    "footer footer";
}

nav {
  grid-area: nav;

}

main {
  padding-left: 4rem;
  grid-area: content;
  overflow: hidden;
}

footer {
  grid-area: footer;
}

main > ul,
nav > ul {
  list-style: none;
  padding-left: 0;
}

blockquote {
  border-left: 3px solid #bdc3c7;
  padding-left: 1rem;
  margin-left: 1rem;
}

.divided > li:not(:last-child) {
  border-bottom: 1px solid #bdc3c7;
}

footer {
  flex-grow: 1;
}

h1 {
  margin: 1rem auto -0.75rem 0;
}

h2 {
  margin-bottom: 0;
}

h3 {
  margin-bottom: 0;
}

a {
  color: #3498db;
  text-decoration: none;
  border-bottom: 0;
}

main a {
  background-color: rgba(52, 152, 219, 0.1);
}

.menu {
  padding: 0;
}

.menu .active a {
  border-bottom: 1px solid #3498db;
}

hr {
  border: none;
  height: 1px;
  background-color: #bdc3c7;
  margin: 0 auto;
}

ul {
  padding-left: 1rem;
  margin-top: 0;
}

time {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #bdc3c7;
}

pre, code {
  background-color: rgba(236, 240, 241, 0.25);
  padding: 0.25rem;
  border-radius: 0.25rem;
  overflow: scroll;
}

ul li p:first-of-type,
h2 + p,
h3 + p,
.sub + p {
  margin-top: 0.75rem;
}

.sub {
  color: gray;
  margin: -0.5rem 0;
  font-size: 0.9rem;
}

.emoji {
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  body {
    grid-template-areas:
      "nav"
      "content"
      "footer";
      grid-template-columns: 1fr;
  }

  main {
    padding-left: 0;
  }

  nav {
    border-bottom: 1px solid #bdc3c7;
  }
}