{{ partial "header.html" . }}

<div class="content">
    {{ .Content }}

    <div class="filters">
        <input name="filter" type="radio" id="all" checked>
        <label class="filter-button" for="all">Show All</label>
    </div>

    <ul class="archive">
        <!-- Ranges through content/posts/*.md -->
        {{ $pages := .Site.RegularPages }}
        {{ range $pages.GroupByDate "January 2006" "desc" }}
            <ul>
            <p>{{ .Key }}</p>    
            {{ range .Pages }}
                <li>
                    {{ with .Params.emoji }}{{ . }}{{ end }}
                    {{ if (.Draft) }}<strong>DRAFT: </strong>{{ end }}<a href="{{.Permalink}}">{{.Title}} <time>{{ .PublishDate.Format "2 Jan 2006" }}</time></a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </ul>
</div>

<script>
var categories = {
    sport: ["🚲", "🥾", "🏃", "🏅", "🎿", "🏊", "🚣", "🏔", "🛶"],
    reading: ["📚", "📕"],
    teaching: ["🧑‍🏫"],
    Dev: ["📱", "💻"],
    Photos: ["📸"],
};

// Create filter buttons
for (const [key, value] of Object.entries(categories)) {
    var filtersContainer = document.querySelector(".filters");
    var filter = `<input name="filter" type="radio" id="${key}">
        <label class="filter-button" for="${key}">${key}</label>`;
    filtersContainer.innerHTML = filtersContainer.innerHTML + filter;
};

// Add event listeners
document.addEventListener("DOMContentLoaded", doFilter);
document.querySelectorAll("input[name='filter']").forEach(function(el) {
    el.addEventListener("click", doFilter);
});

// Filter function
function doFilter() {
    var filter = document.querySelector("input[name='filter']:checked").id;

    if (filter == "all") {
        document.querySelectorAll("ul.archive > ul").forEach(function(list) {
            list.classList.remove("hidden");
            list.querySelectorAll("li").forEach(function(post) {
                post.classList.remove("hidden");
            });
        });
        return;
    }

    var filteredFor = false;
    document.querySelectorAll("ul.archive > ul").forEach(function(list) {
        visible = 0;
        list.querySelectorAll("li").forEach(function(post) {
            // Check each post
            for (var i = 0; i < categories[filter].length; i++) {
                if (post.innerText.indexOf(categories[filter][i]) > -1) {
                    filteredFor = true; break;
                }    
            }

            // Show or hide individual posts
            if (filteredFor) {
                post.classList.remove("hidden");
                visible += 1;
            } else {
                post.classList.add("hidden");
            }

            // Show or hide month groups
            filteredFor = false;
            if (visible == 0) {
                list.classList.add("hidden");
            } else {
                list.classList.remove("hidden");
            }
        });
    });
}
</script>

{{ partial "footer.html" . }}
