{{ partial "header.html" . }}

<div class="content">
    {{ .Content }}

    <div class="filters">
        <span>Filter by: </span><br/>
        <input type="radio" name="filter" id="all" value=""/>
        <label for="all">Show All</label>

        <input type="radio" name="filter" id="sport" value="🥾,🎿,🏃,🏅,🏔,🚲,🛶,📸" checked/>
        <label for="sport">Sport</label>

        <input type="radio" name="filter" id="reading" value="📚"/>
        <label for="reading">Reading</label>

        <input type="radio" name="filter" id="writing" value="✍️,🧑‍🏫"/>
        <label for="writing">Writing</label>

        <input type="radio" name="filter" id="tech" value="💻,📱"/>
        <label for="tech">Tech</label>
    </div>

    <ul class="archive">
        <!-- Ranges through content/posts/*.md -->
        {{ $pages := .Site.RegularPages }}
        {{ range $pages.GroupByDate "January 2006" "desc" }}
            <ul>
            <p>{{ .Key }}</p>    
            {{ range .Pages }}
                <li>
                    {{ with .Params.emoji }}{{ . }}{{ end }}
                    {{ if (.Draft) }}<strong>DRAFT: </strong>{{ end }}<a href="{{.Permalink}}">{{.Title}} {{ with .Params.author }}by {{ . }}{{end }} <time>{{ .PublishDate.Format "2 Jan" }}</time></a>
                </li>
            {{ end }}
            </ul>
        {{ end }}
    </ul>
</div>

<script>
    document.addEventListener("click", function(e) {
        if (e.target.name == "filter") {
            filter(document.querySelector("input:checked").value.split(","));
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        filter(document.querySelector("input:checked").value.split(","));
    });

    function filter (emojiArray) {
        document.querySelectorAll(".archive li").forEach(function(li) {
            var visible = emojiArray.some(function(emoji) {
                return li.innerText.includes(emoji);
            });

            if (visible) {
                li.classList.remove("hidden");
            } else {
                li.classList.add("hidden");
            }
        });

        document.querySelectorAll(".archive ul").forEach(function(ul) {
            var numVis = ul.querySelectorAll("li:not(.hidden)");
            if (numVis.length !== 0) {
                ul.classList.remove("hidden");
            } else {
                ul.classList.add("hidden");
            }
        })
    }
</script>

{{ partial "footer.html" . }}
