    </main>

    {{ if eq .Params.layout "gps" }}
    <footer>

    <h4>Similar Posts</h4>
    <div class="similar-posts">
    {{ range shuffle (where .Site.RegularPages "Params.layout" "gps") }}
        <div>
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            <p><strong>{{ .Params.emoji }} {{ .Title }}</strong><br>
                <time>{{ .Params.date | time.Format "2 Jan 2006" }}</time><br>
                {{ .Params.metaDescription }}
            </p></a>
        </div>
    {{ end }}
    </div>

    </footer>
    {{ end }}

    {{ if eq .Params.prism "true" }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js" integrity="sha512-YBk7HhgDZvBxmtOfUdvX0z8IH2d10Hp3aEygaMNhtF8fSOvBZ16D/1bXZTJV6ndk/L/DlXxYStP8jrF77v2MIg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-zc7WDnCM3aom2EziyDIRAtQg1mVXLdILE09Bo+aE1xk0AM2c2cVLfSW9NrxE5tKTX44WBY0Z2HClZ05ur9vB6A==" crossorigin="anonymous"></script>
    {{ end }}
  </body>
</html>
