<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/favicon.png">
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />

    <title>{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
    <meta name="title" content="{{ .Title }} | {{ .Site.Title }}">
    
    {{ with .Params.metaDescription }}
      <meta name="description" content="{{ . }}">
      <meta property="og:description" content="{{ . }}">
    {{ end }}
    {{ with .Params.metaImage }}
      {{ $metaImg := ((index ($.Page.Resources.Match .) 0).Resize "1024x") }}
      <meta property="og:image" content="{{ $metaImg.Permalink }}">
    {{ end }}
    
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
  </head>

{{ if in "gps multiGPS adventures" .Params.layout }}
  <body class="gps">
{{ else }}
  <body>
{{ end }}
    <header>
      <nav>
        <div class="fa">
          <h2><a href="/" class="home">{{ .Site.Author.name }}</a></h2>
          <p class="emoji">🏔 🏃‍♂️ 🎿 🛶 🚴‍♂️ 🧗 🧘‍♂️</p>
        </div>
      </nav>
      {{ if in "gps fullGPS adventures" .Params.layout }}
      <div id="hikeMap"></div>
      {{ end }}
    </header>
    <main>
