{{ $imagePath := path.Join "local:///blog/" .File.Dir .Params.image }}

<figure>
    <a href='{{ path.Join .Site.Params.imageHostingURL "resize:fill:0:0:0:0/plain/" $imagePath }}' title='Full size image: {{ .Params.title }}'>
        <img
            srcset='{{ path.Join .Site.Params.imageHostingURL "resize:fill:512:0:0:0/plain/" $imagePath }} 512w,
                {{ path.Join .Site.Params.imageHostingURL "resize:fill:1024:0:0:0/plain/" $imagePath }} 1024w,
                {{ path.Join .Site.Params.imageHostingURL "resize:fill:2048:0:0:0/plain/" $imagePath }} 2048w'
            sizes='(min-width: 780px) 584px, calc(100vw - 16px)'
            src='{{ path.Join .Site.Params.imageHostingURL "resize:fill:0:0:0:0/plain/" $imagePath }}'
            alt='{{ .Params.title }}'
            loading='lazy'
            {{ with .Params.height }}height='{{ . }}'{{ end }}
            {{ with .Params.width }}width='{{ . }}'{{ end }}
            />
    </a>
    <figcaption>
    </figcaption>
</figure>
