<table>
    <tbody>
        {{ $totalDist := 0 }}
        {{ $totalDur := 0 }}
        {{ $totalElevGain := 0 }}
        {{ $totalElevLoss := 0 }}

        {{ range .Page.Resources.Match "*.gpx" }}
            {{ $track := index $.Site.Data.gpx (index (split .Title ".") 0) }}
            {{ $distanceKm := printf "%.2f" (div $track.stats.distance 1000) }}
            
            {{ $seconds := printf "%02.0f" (float (mod (mod $track.stats.duration 3600) 60)) }}
            {{ $hours := math.Floor (div $track.stats.duration 3600) }}
            {{ $minutes := printf "%02.0f" (math.Floor (div (mod $track.stats.duration 3600) 60)) }}
            {{ $speed := printf "%.2f" (div (div $track.stats.distance 1000) (div $track.stats.duration 3600)) }}
            {{ $elevGain := printf "%.0f" $track.stats.uphill }}
            {{ $elevLoss := printf "%.0f" $track.stats.downhill }}

            {{ $totalDist = add $totalDist $track.stats.distance }}
            {{ $totalDur = add $totalDur $track.stats.duration }}
            {{ $totalElevGain = add $totalElevGain $track.stats.uphill }}
            {{ $totalElevLoss = add $totalElevLoss $track.stats.downhill }}

            <tr>
                <td><small>{{ $track.stats.date }} [<a onclick='showActivityByName("{{ $track.stats.name }}"); return false;' style='cursor: pointer;'>Show</a>, <a href="{{ .Permalink }}">Download GPX</a>]</small><br/>{{ $track.stats.name }}</td>
                <td>{{ $distanceKm }}km<br/>{{ $hours }}:{{ $minutes }}:{{ $seconds }}</td>
                <td>{{ $speed }}km/hr<br/>{{ $elevGain}}m ⬆️, {{ $elevLoss }}m ⬇️</td>
            </tr>
        {{ end }}
    </tbody>

    {{ $seconds := printf "%02.0f" (float (mod (mod $totalDur 3600) 60)) }}
    {{ $hours := math.Floor (div $totalDur 3600) }}
    {{ $minutes := printf "%02.0f" (math.Floor (div (mod $totalDur 3600) 60)) }}
    {{ $speed := printf "%.2f" (div (div $totalDist 1000) (div $totalDur 3600)) }}
    <tfoot>
        <tr>
            <td></td>
            <td>{{ printf "%.2f" (div $totalDist 1000) }}km<br/>{{ $hours }}:{{ $minutes }}:{{ $seconds }}</td>
            <td>{{ $speed }}km/hr<br/>{{ $totalElevGain }}m ⬆️, {{ $totalElevLoss }}m ⬇️</td>      
        </tr>
    </tfoot>
</table>
