<table>
    <tbody>
        {{ $totalDist := 0 }}
        {{ $totalDur := 0 }}
        {{ $totalElevGain := 0 }}
        {{ $totalElevLoss := 0 }}
        {{ $page := . }}

        {{ range .Params.gpxFiles }}
            {{ $track := index $.Site.Data.gpx (strings.TrimSuffix ".gpx" . ) }}

            {{ $distanceKm := printf "%.2f" (div $track.stats.distance 1000) }}
            {{ $totalDist = add $totalDist $track.stats.distance }}
            
        
            {{ $seconds := printf "%02.0f" (float (mod (mod $track.stats.duration 3600) 60)) }}
            {{ $hours := math.Floor (div $track.stats.duration 3600) }}
            {{ $minutes := printf "%02.0f" (math.Floor (div (mod $track.stats.duration 3600) 60)) }}

            {{ $totalDur = add $totalDur $track.stats.duration }}
            
            {{ $speed := printf "%.2f" (div (div $track.stats.distance 1000) (div $track.stats.duration 3600)) }}

            {{ $elevGain := printf "%.0f" $track.stats.uphill }}
            {{ $elevLoss := printf "%.0f" $track.stats.downhill }}

            {{ $totalElevGain = add $totalElevGain $track.stats.uphill }}
        
            {{ $totalElevLoss = add $totalElevLoss $track.stats.downhill }}

            <tr>
                <td><small>{{ $track.stats.date }} <a class="button" href="{{$.Site.Params.assetHostingURL}}{{$page.Slug}}/{{.}}">Download GPX</a></small><br/>{{ $track.stats.name }}</td>
                <td>{{ $distanceKm }}km<br/>{{ $hours }}:{{ $minutes }}:{{ $seconds }}</td>
                <td>{{ $speed }}km/hr<br/>{{ $elevGain}}m ⬆️, {{ $elevLoss }}m ⬇️</td>
            </tr>
        {{ end }}
    </tbody>

    {{ if gt (len .Params.gpxFiles) 1 }}
    {{ $seconds := printf "%02.0f" (float (mod (mod $totalDur 3600) 60)) }}
    {{ $hours := math.Floor (div $totalDur 3600) }}
    {{ $minutes := printf "%02.0f" (math.Floor (div (mod $totalDur 3600) 60)) }}
    {{ $speed := printf "%.2f" (div (div $totalDist 1000) (div $totalDur 3600)) }}
    <tfoot>
        <tr>
            <td></td>
            <td>{{ printf "%.2f" (div $totalDist 1000) }}km<br/>{{ $hours }}:{{ $minutes }}:{{ $seconds }}</td>
            <td>{{ $speed }}km/hr<br/>{{ $totalElevGain }}m ⬆️, {{ $totalElevLoss }}m ⬇️</td>      
        </tr>
    </tfoot>
    {{ end }}
</table>
