<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/min.css" | relURL }}" />
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
  </head>

  <body>
    <nav>
      <h2>Finn LeSueur</h2>
      <p>I am a Science and Physics teacher from Christchurch, New Zealand who writes code in his spare time, but would really rather be outside doing almost any type of outdoor activity.</p>
      <ul class="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class='{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}'>
          <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      <p class="emoji">🏔 🏃‍♂️ 🎿 🛶 🚴‍♂️ 🧗 🧘‍♂️</p>
    </nav>
    <main>
