{{ partial "header.html" . }}

<div class="content">
    <ul class="archive">
        {{ range (.Site.GetPage "section" "photos").Pages.GroupByParamDate "photoDate" "January 2006" }}
            {{ range .Pages }}
            {{ $image := index (.Resources.ByType "image") 0 }}
            <a href='{{.Permalink}}' title="{{ .Params.Title }}">
                <img 
                    srcset='
                            https://img.lesueur.nz/full?u={{.Permalink}}{{$image}} 4096w,
                            https://img.lesueur.nz/2048?u={{.Permalink}}{{$image}} 2048w,
                            https://img.lesueur.nz/1024?u={{.Permalink}}{{$image}} 1024w,
                            https://img.lesueur.nz/512?u={{.Permalink}}{{$image}} 512w,'
                    src='{{.Permalink}}{{$image}}'
                    alt="{{ .Params.Title }}"
                    loading="lazy"/>
            </a>
            {{ end }}
        {{ end }}
    </ul>
</div>

{{ partial "footer.html" . }}
