#hikeMap {
  height: 50vh;
  position: relative;
  left: calc((100vw - 100% - 1rem) / -2);
  width: calc(100vw - 1rem);
  background-color: #9BC9D7;
  display: flex;
}

.grid {
  position: relative;
}

.grid figure {
  position: absolute;
  margin: 0;
  max-width: calc(100vw - 1rem);
}

.grid figure figcaption {
  display: block;
  margin-bottom: 1rem;
}

.grid figure img {
  border-radius: 0;
}

.glightbox-container .goverlay {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
}

.glightbox-container.glightbox-clean .gslide-description {
  background: transparent;
  color: white;
}

a.glightbox {
  display: flex;
}

body.gscrollbar-fixer {
  margin-right: auto;
  margin-left: auto;
}
body.glightbox-open {
  overflow: visible;
}

details {
    margin: 1rem auto;
    background-color: rgba(255,234,167,.5);
    border-radius: .25rem;
    padding: .25rem .5rem;
    border-left: 5px solid var(--orange);
    box-shadow: var(--shadow);
    background-color: var(--orangeLight);
}

@media screen and (min-width: 750px) {
  .grid {
    left: calc((100vw - 100%) / -2);
    width: 100vw;
  }

  .grid figure figcaption {
    display: none;
  }
}
