.series {
  padding: 0.5rem;
  border: 5px solid #e74c3c;
  border-radius: 0 1rem 1rem 1rem;
  display: block;
  border-image-slice: ;
  margin: auto auto 2rem auto;
}

.series ul {
  margin: 0;
  list-style-type: disclosure-closed;
  padding-left: 1.5rem;
}

.series p { margin:0; }