#hikeMap {
  height: 50vh;
  /*  grid-area: map;*/
  position: relative;
  left: calc((100vw - 100% - 1rem) / -2);
  width: calc(100vw - 1rem);
/*  background: #56ab2f;*/
/*  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);*/
/*  background: linear-gradient(to right, #a8e063, #56ab2f);*/
  background-color: #9BC9D7;
  display: flex;
}

.grid {
  position: relative;
  left: calc((100vw - 100% - 1rem) / -2);
  width: calc(100vw - 1rem);
}

.grid figure {
  position: absolute;
  margin: 0;
  max-width: 600px;
}

.grid figure figcaption {
  display: none;
}

.grid figure img {
  border-radius: 0;
}

.glightbox-container .goverlay {
  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);
}

.glightbox-container.glightbox-clean .gslide-description {
  background: transparent;
  color: white;
}

body.gscrollbar-fixer {
  margin-right: auto;
  margin-left: auto;
}
body.glightbox-open {
  overflow: visible;
}