.series {
  padding: 0.5rem;
  border: 5px solid #e74c3c;
  border-radius: 0 1rem 1rem 1rem;
  display: block;
  margin: 1rem auto 1rem 0;
}

.series ul {
  margin: 0;
  list-style-type: disclosure-closed;
  padding-left: 1.5rem;
}

.series p { margin:0; }