:root {
  --main-blue: #2980b9;
  --black: rgb(51, 51, 51);
  --grey: #34495e;
  --white: #FFFFFF;
  --green: #009432;
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  max-width: 600px;
  margin: auto;
  /*display: grid;*/
  grid-template-areas:
  "header"
  "map"
  "content"
  "footer";
  grid-template-columns: 1fr;
  transition: all 150ms;
  align-content: start;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding: 0 0.5rem 1rem 0.5rem;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}

header nav {
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5rem;
}

nav > ul {
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  left: -0.5rem;
  width: calc(100% + 1rem);
  position: relative;
  margin: 0 auto auto 0;
  background-image: linear-gradient(to right, white, white),
  linear-gradient(to right, white, white),
  linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
  linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

nav > ul::-webkit-scrollbar { display: none; }
nav > ul { -ms-overflow-style: none; scrollbar-width: none; }

nav > ul li { scroll-snap-align: end; }

nav h2, nav p { margin: 0.5rem 0 0 0; }

/* Flex Apart */
.fa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main img {
  border-radius: 0.25rem;
  max-width: 100%;
  overflow: hidden;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.12));
  width: 100%;
  height: auto;
}

p > code {
  background-color: var(--black);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--white);
}

figure {
  margin: auto 0 1rem 0;
  text-align: center;
}

figcaption { text-align: left; }

main {
  grid-area: content;
  position: relative;
  word-wrap: break-word;
  min-width:  0;
}

main > ul,
nav > ul {
  list-style: none;
  padding-left: 0;
}

blockquote {
  margin: 0 auto 1rem auto;
  background-color: rgba(255, 234, 167, 0.5);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

.hidden {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);;
  empty-cells: show;
  max-width: 100%;
  display: inline-block;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
}

table tfoot {
  border-top: 2px solid black;
}

table td,
table th {
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
  width: 7.5rem;
}

table thead {
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

table td {
  background-color: transparent;
}
table td {
  background-color: rgba(0, 0, 0, 0.05);
}

tbody tr:not(first-child) {
  border-top: 1px solid var(--neutral-main);
}

table tr:nth-child(2n-1) td {
  background-color: var(--neutral-light);
}

@media (min-width: 768px) {
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3d3d3d;
    color: white;
  }
  a {
    color: #4bcffa;
  }
  a.home {
    color: white;
  }
  time, figcaption {
    color: #d2dae2;
  }
  pre {
    background-color: #f5f6fa;
  }
  table thead {
    background-color: transparent;
  }
  table td {
    background-color: transparent;
  }
  table tr:nth-child(2n-1) td {
    background-color: transparent;
  }
}