:root {
  --main-blue: #2980b9;
  --main-blue-light: rgba(41, 128, 185, 0.1);
  --black: rgb(51, 51, 51);
  --grey: #34495e;
  --white: #FFFFFF;
  --green: #009432;
  --yellowLight: rgba(241, 196, 15, 0.5);
  --yellow: rgba(241, 196, 15, 1);
  --orangeLight: rgba(230, 126, 34, 0.5);
  --orange: rgba(230, 126, 34, 1);
  --purpleLight: rgba(155, 89, 182, 0.5);
  --purple: rgba(155, 89, 182, 1);
  --shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

body {
  max-width: 600px;
  margin: auto;
  /*display: grid;*/
  grid-template-areas:
  "header"
  "map"
  "content"
  "footer";
  grid-template-columns: 1fr;
  transition: all 150ms;
  align-content: start;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding: 0 0.5rem 1rem 0.5rem;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
  border-top: 1px solid lightgray;
  margin-top: 1rem;
  padding: 1rem 0.5rem;
}

header nav {
  padding-bottom: 0.5rem;
}

body:not(.gps) header nav {
  border-bottom: 1px solid lightgray;
}

nav > ul {
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  left: -0.5rem;
  width: calc(100% + 1rem);
  position: relative;
  margin: 0 auto auto 0;
  background-image: linear-gradient(to right, white, white),
  linear-gradient(to right, white, white),
  linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0)),
  linear-gradient(to left, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

nav > ul::-webkit-scrollbar { display: none; }
nav > ul { -ms-overflow-style: none; scrollbar-width: none; }

nav > ul li { scroll-snap-align: end; }

nav h2, nav p { margin: 0.5rem 0 0 0; }

/* Flex Apart */
.fa {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

main img {
/*  border-radius: 0.25rem;*/
  max-width: 100%;
  overflow: hidden;
/*  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.12));*/
  width: 100%;
  height: auto;
}

p > code {
  background-color: var(--black);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--white);
}

figure {
  margin: auto;
  text-align: center;
}

figcaption {
  margin: 0.25rem 0.5rem;
/*  text-align: left;*/
  font-size: smaller;
  font-style: oblique;
}

main {
  grid-area: content;
  position: relative;
  min-width:  0;
}

main > ul,
nav > ul {
  list-style: none;
  padding-left: 0;
}

blockquote {
  margin: 0 auto 1rem auto;
  background-color: rgba(255, 234, 167, 0.5);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-left: 5px solid var(--yellow);
  box-shadow: var(--shadow);
}

ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

.hidden {
  display: none;
}

table {
/*  border: 1px solid rgba(0, 0, 0, 0.2);*/
  width: 100%;
  max-width: 100%;
  display: inline-grid;
  overflow-x: auto;
  white-space: nowrap;
  box-sizing: border-box;
  border-collapse: collapse;
  box-shadow: var(--shadow);
  border-radius: 0.25rem;
}

table tfoot {
  border-top: 2px solid black;
}

table td,
table th {
  font-size: inherit;
  overflow: visible;
  padding: 0.5rem;
/*  width: 7.5rem;*/
}

table thead {
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

table td {
  background-color: rgba(0, 0, 0, 0.05);
}

table td:first-of-type {
  width: 100%;
}

tbody tr:not(first-child) {
  border-top: 1px solid var(--neutral-main);
}

table tr:nth-child(2n-1) td {
  background-color: var(--neutral-light);
}

button[class^='load'] {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin: auto;
}

button[class^='load']:hover {
  background-color: #fff;
}

button[class^='load']:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

ul.reading {
  list-style: none;
  list-style-type: "";
}
ul.reading ul {
  padding-left: 2rem;
}

ul.reading > li > ul > li:not(.series) {
  margin-left: 2.2rem;
  padding-left: 1.2rem;
}

ul.reading > li > p {
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 1rem;
}

li.series {
  list-style-type: "📚";
}

li.series:not(:first-of-type) {
  margin-top: 0.5rem;
}

li.series p {
  margin-bottom: 0;
  font-weight: 600;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  margin-top: 0;
}
li span.order {
  width: 2rem;
  display: inline-block;
}

li.series ul { list-style: none; padding-left: 1rem; }

ul.reading li.series:has(li.hidden) {
  display: none;
}
ul.reading li.series:has(li:not(.hidden)) {
  display: list-item;
}

ul.reading > li:has(li.hidden) {
  display: none;
}

ul.reading > li:has(li:not(.series):not(.hidden)) {
  display: list-item;
}

.tag {
  font-size: x-small;
}

.filters {
  margin: 1rem 0;
}

.filters input:checked + label {
  border-bottom: 2px solid #c779d0;
}

.filters input {display: none;}

.filters label {
  cursor: pointer;
  margin-right: 0.5rem;
  padding: 0.25rem;
  background-color: rgba(155, 89, 182, 0.1) ;
  text-transform: capitalize;
  display: inline-block;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
}

@media (min-width: 768px) {
  button[class^='load'] {
    min-width: 120px;
    padding: 0 25px;
  }
}

@media (min-width: 768px) {
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3d3d3d;
    color: white;
  }
  a {
    color: #4bcffa;
  }
  a.home {
    color: white;
  }
  time, figcaption {
    color: #d2dae2;
  }
  pre {
    background-color: #f5f6fa;
  }
  table thead {
    background-color: transparent;
  }
  table td {
    background-color: transparent;
  }
  table tr:nth-child(2n-1) td {
    background-color: transparent;
  }
}